@keyframes updown {
  0% {
    transform: translateX(0) translateY(0) rotateZ(-45deg); } 
  70% {
    transform: translateX(-8px) translateY(-8px) rotateZ(-45deg); } 
  100% {
    transform: translateX(0) translateY(0) rotateZ(-45deg); } } 

@keyframes settled {
  0% {
    transform: translateX(0) translateY(0) rotateZ(-45deg); }
  100% {
    transform: translateX(-120px) translateY(20px) rotateZ(0deg); } }

@keyframes straight {
  0% {
    transform: translateX(0) translateY(0); }
  70% {
    transform: translateX(0) translateY(-3px); }
  100% {
    transform: translateX(0) translateY(0); } }

@keyframes cardOut {
  20% {
    transform: rotateZ(0) translateX(0) translateY(0) scale(1); }
  50% {
    transform: rotateZ(0) translateX(-8rem) translateY(-2rem) scale(1.3); }
  80% {
    transform: rotateZ(0) translateX(0.5rem) translateY(4rem) scale(1.3); }
  100% {
    transform: rotateZ(0) translateX(0) translateY(8rem) scale(1); } }

@keyframes span-1 {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(100%); } }

@keyframes span-2 {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(100%); } }

@keyframes span-3 {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

@keyframes span-4 {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(-100%); } }

@keyframes toleft {
  0% {
    left: 0; }
  20% {
    left: -100%; }
  40% {
    left: -200%; }
  60% {
    left: -300%; }
  80% {
    left: -400%; }
  100% {
    left: -500%; } }

@keyframes upDown {
  0% {
    transform: inherit; }
  25% {
    transform: translateY(-1rem); }
  50% {
    transform: translateY(0rem); }
  75% {
    transform: translateY(1rem); }
  100% {
    transform: inherit; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive; }

body {
  line-height: 1.6;
  background-color: #f7ecec; }

.gif {
  position: absolute;
  left: 50%;
  transform: translateX(-20%) !important;
  width: 20rem; }

.cta__link:link, .cta__link:visited {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
  padding: 1rem;
  font-size: 2.5rem;
  box-shadow: 1rem 0.5rem 3rem black;
  border-radius: 4px;
  transition: all 0.2s;
  transform-style: preserve-3d; }

.cta__link:hover {
  transform: translateY(-3px); }

.cta__link:active {
  transform: translateY(3px); }

.clip-text {
  background-image: linear-gradient(to right, #581845, #900C3F);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.heading__primary {
  display: inline-block;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, gray 30%, black 100%);
  color: transparent;
  transition: all 0.2s;
  text-shadow: 0 0 3rem black;
  padding: 2rem; }

.heading__secondary {
  display: inline-block;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, red, blue);
  color: transparent;
  transition: all 0.2s;
  text-shadow: 0 0 3rem black; }
  .heading__secondary:hover {
    transform: scale(1.2) skewY(-5deg);
    background-image: linear-gradient(to left, red, blue); }

.heading__teritary {
  display: inline-block;
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  padding-bottom: 2rem;
  background-image: linear-gradient(to right, maroon, darkred);
  color: transparent;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); }

.nav {
  grid-row: 1/2;
  grid-column: 1/-1;
  padding: 2rem;
  background-color: #f0ebeb;
  background-image: linear-gradient(rgba(247, 236, 236, 0.6), rgba(247, 236, 236, 0.6)), url(./../Images/nav.jpg);
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: center;
  justify-items: center; }
  .nav__items {
    z-index: 3;
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
    border-radius: 50px;
    padding: 1rem;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.25), -3px -3px 6px 0 rgba(255, 255, 255, 0.3);
    transition: all 0.2s;
    line-height: 1;
    animation: straight 10s infinite; }
    .nav__items a:link,
    .nav__items a:visited {
      text-decoration: none;
      color: black; }
    .nav__items:hover {
      transform: translateY(-1.5px); }
    .nav__items:active {
      background: linear-gradient(135deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
      transform: translateY(1.5px); }

.header {
  grid-row: 1/3;
  grid-column: 1/-1;
  overflow: hidden;
  background-color: #f0ebeb;
  background-size: cover;
  border-radius: 3px;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  position: relative;
  padding: 8rem; }
  .header__button {
    padding: 1rem 3rem;
    z-index: 3;
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
    border-radius: 50px;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.25), -3px -3px 6px 0 rgba(255, 255, 255, 0.3);
    transition: all 0.2s;
    line-height: 1;
    animation: straight 10s infinite; }
    .header__button a:link,
    .header__button a:visited {
      text-decoration: none;
      color: black; }
    .header__button:hover {
      transform: translateY(-1.5px); }
    .header__button:active {
      background: linear-gradient(135deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
      transform: translateY(1.5px); }
  .header__info {
    grid-column: 1/3;
    z-index: 2;
    justify-self: start;
    padding: 2rem 4rem; }
  .header div P {
    z-index: 2;
    font-size: 3rem;
    display: block;
    color: black;
    z-index: 2; }
  .header img {
    grid-column: 3/5;
    z-index: 3;
    width: 45rem;
    align-self: center; }
  .header__name {
    z-index: 2;
    color: goldenrod;
    padding: 1rem;
    border-radius: 50px;
    padding-left: 7rem;
    width: auto;
    font-size: 4rem;
    display: block;
    transition: all 0.5s; }
  .header__welcome {
    width: auto;
    z-index: 2;
    display: block;
    color: goldenrod;
    padding: 1rem;
    border-radius: 50px;
    align-self: end;
    font-size: 3rem;
    transition: all 0.5s; }
  .header__looker {
    z-index: 1;
    position: absolute;
    top: 41%;
    left: 45%;
    font-size: 4rem;
    transition: all 2s;
    animation: updown 2s infinite;
    backface-visibility: hidden; }
  .header__slider {
    position: absolute;
    height: 100%;
    width: 600%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    top: 0;
    left: 0;
    animation: toleft 30s linear infinite; }
    .header__slider__slide {
      text-align: center;
      height: 100%; }
      .header__slider__slide__1 {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./../Slider/JS.png");
        background-size: cover;
        background-repeat: no-repeat; }
        .header__slider__slide__1 * {
          text-decoration: none;
          color: goldenrod;
          padding-top: 80vh; }
      .header__slider__slide__2 {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./../Slider/Certificate_Js.png");
        background-size: cover;
        background-repeat: no-repeat; }
        .header__slider__slide__2 * {
          text-decoration: none;
          color: goldenrod;
          padding-top: 75vh; }
      .header__slider__slide__3 {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./../Slider/Certificate_WD.png");
        background-size: cover;
        background-repeat: no-repeat; }
        .header__slider__slide__3 * {
          text-decoration: none;
          color: goldenrod;
          padding-top: 72vh; }
      .header__slider__slide__4 {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./../Slider/Ceritificate_FEND.png");
        background-size: cover;
        background-repeat: no-repeat; }
        .header__slider__slide__4 * {
          text-decoration: none;
          color: goldenrod;
          padding-top: 75vh; }
      .header__slider__slide__5 {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./../Slider/ProblemSOlving.png");
        background-size: cover;
        background-repeat: no-repeat; }
        .header__slider__slide__5 * {
          text-decoration: none;
          color: goldenrod;
          padding-top: 80vh; }
      .header__slider__slide__6 {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./../../Slider/JS.png");
        background-size: cover;
        background-repeat: no-repeat; }
        .header__slider__slide__6 * {
          text-decoration: none;
          color: goldenrod;
          padding-top: 80vh; }

.btn {
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 1rem 2rem;
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5), -3px -3px 6px 0 rgba(255, 255, 255, 0.6);
  transition: all 0.2s;
  background-color: transparent;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25)); }
  .btn__absolute {
    position: absolute;
    top: 85%;
    left: 53%;
    transform: translateX(-50%) translateY(-50%) !important; }
  .btn__link:link, .btn__link:visited {
    text-decoration: none;
    color: #581845;
    font-size: 2rem;
    font-family: 'Pacifico', cursive; }
  .btn:hover {
    transform: translateX(-50%) translateY(-30px); }
  .btn:active {
    transform: translateX(-50%) translateY(-29px);
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5) inset, -3px -3px 6px 0 rgba(255, 255, 255, 0.6) inset; }

.container {
  position: relative;
  display: grid;
  grid-template-rows: 13vh 83vh 60rem 60rem;
  grid-template-columns: minmax(3rem, 1fr) repeat(8, 14rem) minmax(3rem, 1fr);
  background-image: linear-gradient(rgba(247, 236, 236, 0.6), rgba(247, 236, 236, 0.6)), url(./../Images/nav.jpg);
  grid-row-gap: 6rem; }

.description {
  grid-row: 3/4;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 3fr 2fr;
  position: relative;
  object-fit: cover; }
  .description[data-scroll='out'] > * {
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    transition-delay: 0s;
    transform: scale(0); }
  .description[data-scroll='in'] > * {
    opacity: 1;
    visibility: 1;
    transition: all 1s;
    transition-delay: 0.3s;
    transform: scale(1); }
  .description__competetive {
    height: 0;
    position: relative;
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem; }
    .description__competetive:nth-child(1) {
      margin-left: 2rem; }
    .description__competetive:last-child {
      margin-right: 2rem; }
    .description__competetive__heading {
      grid-row: 1/2;
      grid-column: 1/-1;
      align-self: center;
      justify-self: center; }
    .description__competetive__card {
      position: relative;
      perspective: 150rem;
      -moz-perspective: 150rem;
      perspective-origin: top;
      -moz-perspective-origin: top;
      align-self: center;
      justify-self: center;
      border-radius: 30px;
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
      text-align: center;
      padding: 4rem 2rem;
      transform: perspective(250rem) rotateX(65deg) translateY(-20rem) scaleX(1) scaleY(1);
      transform-origin: center bottom;
      transform-style: preserve-3d;
      transition: all 0.5s;
      backface-visibility: hidden;
      z-index: 2; }
      .description__competetive__card--1 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(119, 226, 19, 0.5));
        box-shadow: 0 0 16rem rgba(119, 226, 19, 0.8) inset, 0 8rem 8rem rgba(96, 158, 39, 0.8); }
        .description__competetive__card--1 p {
          font-size: 1.5rem;
          line-height: 1;
          color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
          background-color: black;
          padding-bottom: 2rem;
          border-bottom: 2px solid #77e213; }
      .description__competetive__card--2 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(247, 46, 46, 0.5));
        box-shadow: 0 0 16rem rgba(247, 46, 46, 0.8) inset, 0 8rem 8rem rgba(190, 22, 22, 0.8); }
        .description__competetive__card--2 p {
          font-size: 1.5rem;
          line-height: 1;
          color: transparent;
          background-color: black;
          -webkit-background-clip: text;
          background-clip: text;
          padding-bottom: 2rem;
          border-bottom: 2px solid #f72e2e; }
      .description__competetive__card--3 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(228, 224, 20, 0.5));
        box-shadow: 0 0 16rem rgba(228, 224, 20, 0.8) inset, 0 8rem 8rem rgba(193, 196, 13, 0.8); }
        .description__competetive__card--3 p {
          font-size: 1.5rem;
          line-height: 1;
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          background-color: black;
          padding-bottom: 2rem;
          border-bottom: 2px solid #e4e014; }
      .description__competetive__card__icon--1 {
        display: inline-block;
        width: 8rem;
        height: 8rem;
        fill: rgba(119, 226, 19, 0.8);
        padding-bottom: 2rem; }
      .description__competetive__card__icon--2 {
        display: inline-block;
        width: 8rem;
        height: 8rem;
        fill: rgba(247, 46, 46, 0.8);
        padding-bottom: 2rem; }
      .description__competetive__card__icon--3 {
        display: inline-block;
        width: 8rem;
        height: 8rem;
        fill: rgba(228, 224, 20, 0.8);
        padding-bottom: 2rem; }
      .description__competetive__card:hover {
        transform: perspective(200rem) rotateX(0) translateY(0) scaleX(1) scaleY(1);
        box-shadow: -0.5rem 5rem 6rem black; }
    .description__competetive:hover .description__competetive__card:not(:hover) {
      transform: perspective(200rem) rotateX(55deg) translateY(-17rem) scaleX(0.8) scaleY(0.5); }
  .description__programming {
    text-align: center;
    position: relative;
    grid-column: 2/3;
    height: 0; }
    .description__programming__card {
      position: absolute;
      top: 8rem;
      left: 25%;
      backface-visibility: hidden;
      text-align: center;
      height: 36rem;
      width: 26rem;
      padding: 2rem 4rem;
      box-shadow: -0.5rem 5rem 6rem rgba(0, 0, 0, 0.5);
      border-radius: 30px;
      background-color: orangered;
      transition: all 1s; }
      .description__programming__card--0 {
        background-image: linear-gradient(to bottom right, yellow, rgba(0, 0, 0, 0.7));
        transform-origin: bottom;
        transform: rotateZ(27deg);
        z-index: 40; }
      .description__programming__card--1 {
        background-image: linear-gradient(to bottom right, gray, #66ff00);
        transform-origin: bottom;
        transform: rotateZ(-12deg);
        z-index: 10; }
        .description__programming__card--1 p {
          border-bottom: 2px solid gray; }
      .description__programming__card--2 {
        background-image: linear-gradient(to bottom right, #645394, #66ff00);
        transform-origin: bottom;
        transform: rotateZ(0deg);
        z-index: 20; }
        .description__programming__card--2 p {
          border-bottom: 2px solid #645394; }
      .description__programming__card--3 {
        background-image: linear-gradient(to bottom right, #f08080, #66ff00);
        transform-origin: bottom;
        transform: rotateZ(12deg);
        z-index: 27; }
        .description__programming__card--3 p {
          border-bottom: 2px solid #f08080; }
      .description__programming__card--4 {
        background-image: linear-gradient(to bottom right, orange, rgba(0, 0, 0, 0.7));
        transform-origin: bottom;
        transform: rotateZ(-25deg);
        z-index: 5; }
        .description__programming__card--4 p {
          border-bottom: 2px solid orange; }
      .description__programming__card__icon--small {
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
        position: absolute;
        top: 2rem;
        left: 2rem; }
      .description__programming__card__icon--0 {
        font-size: 8rem;
        text-decoration: none;
        font-family: sans-serif;
        color: transparent; }
      .description__programming__card__icon--1 {
        height: 8rem;
        width: 8rem;
        padding-bottom: 2rem; }
      .description__programming__card p {
        font-size: 1.5rem;
        line-height: 1;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-color: black;
        padding-bottom: 2rem; }
      .description__programming__card:target {
        transform-origin: bottom;
        transform: rotateZ(0deg) translateX(0) translateY(6rem) scale(1);
        z-index: 50; }

.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: 100;
  backdrop-filter: brightness(60%) blur(2px);
  display: grid;
  grid-template-rows: minmax(3rem, 1fr) repeat(8, 6rem) minmax(3rem, 1fr);
  grid-template-columns: minmax(3rem, 1fr) repeat(8, 12rem) minmax(3rem, 1fr);
  transition: all 0.5s;
  transform: scale(0);
  opacity: 0;
  visibility: hidden; }
  .popup:target {
    transform: scale(1);
    opacity: 1;
    visibility: visible; }
  .popup__span-1 {
    position: absolute;
    box-shadow: 0 0 2rem hotpink;
    transition: 0.5s;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to right, transparent, crimson);
    border-radius: 100px;
    backface-visibility: hidden;
    overflow: hidden;
    animation: span-1 1.6s linear infinite; }
  .popup__span-2 {
    position: absolute;
    box-shadow: 0 0 2rem hotpink;
    transition: 0.5s;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background-image: linear-gradient(to bottom, transparent, crimson);
    border-radius: 100px;
    backface-visibility: hidden;
    overflow: hidden;
    animation: span-2 1.6s linear infinite;
    animation-delay: 0.8s; }
  .popup__span-3 {
    position: absolute;
    box-shadow: 0 0 2rem hotpink;
    transition: 0.5s;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to left, transparent, crimson);
    border-radius: 100px;
    backface-visibility: hidden;
    overflow: hidden;
    animation: span-3 1.6s linear infinite; }
  .popup__span-4 {
    position: absolute;
    box-shadow: 0 0 2rem hotpink;
    transition: 0.5s;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 3px;
    background-image: linear-gradient(to top, transparent, crimson);
    border-radius: 100px;
    backface-visibility: hidden;
    overflow: hidden;
    animation: span-4 1.6s linear infinite;
    animation-delay: 0.8s; }
  .popup__box {
    grid-row: 2/span 8;
    grid-column: 2/span 8;
    background-image: linear-gradient(to right, skyblue, hotpink);
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.2rem;
    text-align: center;
    color: white;
    border-radius: 20px; }
  .popup__close {
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: end;
    align-self: start;
    font-size: 2rem;
    margin-right: 0.5rem; }
  .popup__title {
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: rosybrown; }
  .popup__content {
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to right, blue, red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
    .popup__content--1 {
      grid-row: 2/3;
      grid-column: 1/2;
      align-self: start;
      margin: 0 4rem; }
    .popup__content--2 {
      grid-row: 2/3;
      grid-column: 2/3;
      align-self: start;
      margin: 0 4rem; }
    .popup__content--3 {
      grid-row: 2/3;
      grid-column: 3/4;
      align-self: start;
      margin: 0 4rem; }
    .popup__content__list {
      list-style: none; }
      .popup__content__list__items {
        font-size: 2.3rem;
        line-height: 1.7; }
        .popup__content__list__items .fab {
          padding-right: 1rem; }
    .popup__content__icon {
      font-size: 8rem; }
    .popup__content__title {
      font-size: 3.2rem; }

.unityProjects {
  grid-row: 4/5;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 37rem));
  grid-template-rows: 8rem 1fr;
  position: relative;
  box-shadow: 0rem 0rem 4rem white;
  align-content: center;
  justify-content: center;
  padding: 1rem 1rem;
  overflow: hidden;
  border-bottom: 3px solid grey; }
  .unityProjects__left {
    color: white;
    position: absolute;
    top: 50%;
    z-index: 100;
    font-size: 4rem;
    left: 0%;
    box-shadow: 0rem 0rem 4rem white;
    background-color: rgba(128, 128, 128, 0.5);
    outline: none;
    border: none;
    transition: all 0.2s; }
    .unityProjects__left:hover {
      transform: scale(1.1); }
    .unityProjects__left:active {
      box-shadow: 0rem 0rem 4rem white inset;
      outline: none; }
  .unityProjects__right {
    color: white;
    position: absolute;
    top: 50%;
    z-index: 100;
    font-size: 4rem;
    right: 0%;
    box-shadow: 0rem 0rem 4rem white;
    background-color: rgba(128, 128, 128, 0.5);
    outline: none;
    border: none;
    transition: all 0.2s; }
    .unityProjects__right:hover {
      transform: scale(1.1); }
    .unityProjects__right:active {
      box-shadow: 0rem 0rem 4rem white inset;
      outline: none; }
  .unityProjects__card {
    display: inline-block;
    height: auto;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    transition: all 1s; }
    .unityProjects__card--2 {
      grid-column: 2/3;
      grid-row: 2/3;
      transform-style: preserve-3d;
      box-shadow: 0rem 0rem 8rem white;
      transform: perspective(200rem) translateY(-2rem);
      background-color: rgba(128, 128, 128, 0.5); }
    .unityProjects__card--0 {
      position: absolute;
      top: 50%;
      left: 0;
      width: 33.3333%;
      transform-style: preserve-3d;
      box-shadow: 8rem 1rem 30rem white;
      perspective: 150rem;
      -moz-perspective: 150rem;
      transform: perspective(300rem) rotateY(-60deg) translateX(-22%) translateY(-43%) scaleX(0.6) scaleY(0.6);
      transform-origin: left;
      background-color: rgba(245, 245, 245, 0.9); }
    .unityProjects__card--1 {
      grid-column: 1/2;
      grid-row: 2/3;
      transform-style: preserve-3d;
      box-shadow: 8rem 1rem 30rem white;
      perspective: 150rem;
      -moz-perspective: 150rem;
      transform: perspective(200rem) rotateY(-40deg) translateX(20%) translateY(-1rem) scaleX(0.8) scaleY(0.8);
      transform-origin: left;
      background-color: rgba(245, 245, 245, 0.9); }
    .unityProjects__card--3 {
      grid-column: 3/4;
      grid-row: 2/3;
      transform-style: preserve-3d;
      box-shadow: -8rem -1rem 30rem white;
      perspective: 150rem;
      -moz-perspective: 150rem;
      transform: perspective(200rem) rotateY(40deg) translateX(-20%) translateY(0rem) scaleX(0.8) scaleY(0.8);
      transform-origin: right;
      background-color: rgba(245, 245, 245, 0.9); }
    .unityProjects__card--4 {
      position: absolute;
      top: 50%;
      right: 0;
      width: 33.3333%;
      transform-style: preserve-3d;
      box-shadow: -8rem -1rem 30rem white;
      perspective: 150rem;
      -moz-perspective: 150rem;
      transform: perspective(300rem) rotateY(60deg) translateX(22%) translateY(-43%) scaleX(0.6) scaleY(0.6);
      transform-origin: right;
      background-color: rgba(245, 245, 245, 0.9); }
    .unityProjects__card---1 {
      position: absolute;
      width: 33.3333%;
      top: 50%;
      left: -200%;
      transform-style: preserve-3d;
      transform-origin: left; }
    .unityProjects__card--5 {
      position: absolute;
      width: 33.3333%;
      top: 50%;
      right: -200%;
      transform-style: preserve-3d;
      transform-origin: right; }
    .unityProjects__card---2 {
      display: none; }
    .unityProjects__card--6 {
      display: none; }
  .unityProjects__image {
    width: 100%;
    box-shadow: 0rem 0rem 4rem black;
    transform-style: preserve-3d; }
  .unityProjects__description {
    font-size: 2rem;
    box-shadow: 0rem 0rem 4rem black;
    transform-style: preserve-3d; }
  .unityProjects__heading {
    box-shadow: 0rem 0rem 4rem black; }
