@import 'base/animations'; 
@import 'base/variables'; 
@import 'base/typography'; 

@import 'components/cliptext';
@import 'components/header';  
@import 'components/navigation'; 
@import 'components/welcome'; 

@import 'pages/center';
@import 'layouts/home';
@import 'layouts/description';