.btn{
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 1rem 2rem;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5),
                -3px -3px 6px 0 rgba(255, 255, 255, 0.6);
    transition: all 0.2s;
    background-color: transparent;
    background-image: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
    &__absolute{
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    &__link{
        &:link,
        &:visited{
            text-decoration: none;
            color: $btn-text-color;
            font-size: 2rem;
            //text-transform: uppercase;
            font-family: 'Pacifico', cursive;
        }
    }
    &:hover{
        transform: translateX(-50%) translateY(-30px);
    }
    &:active{
        transform: translateX(-50%) translateY(-29px);
        box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5) inset,
                -3px -3px 6px 0 rgba(255, 255, 255, 0.6) inset;
    }
}