.heading{
    &__primary{
        display: inline-block;
        font-size: 2.8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right,$heading-primary 100%,$heading-primary-dark 100%);
        color: transparent;
        transition: all 0.2s;
        text-shadow: 0 0 3rem black;
        //border-bottom: 3px solid $heading-primary-dark;
        padding: 2rem;
    }
    &__secondary{
        display: inline-block;
        font-size: 2.3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right,$heading-secondary,$heading-secondary-dark);
        color: transparent;
        transition: all 0.2s;
        text-shadow: 0 0 3rem black;
        &:hover{
            transform: scale(1.2) skewY(-5deg);
            background-image: linear-gradient(to left,$heading-secondary,$heading-secondary-dark);
        }
    }
    &__teritary{
        display: inline-block;
        font-size: 2rem;
        line-height: 1;
        text-transform: uppercase;
        //letter-spacing: 2px;
        background-clip: text;
        -webkit-background-clip: text;
        padding-bottom:2rem;
        background-image: linear-gradient(to right,$heading-teritary,$heading-teritary-dark);
        color: transparent;
        text-shadow: 0 0 1rem rgba(black,0.5);
    }
}