.nav{
    grid-row: 1/2;
    grid-column: 1/-1;
    padding: 2rem;
    background-color: $color-primary;
    background-image: linear-gradient(rgba($color-body,0.6),rgba($color-body,0.6)), url(./../Images/nav.jpg);
    list-style: none; 

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    align-items: center;
    justify-items: center;

    &__items{
        z-index: 3;
        font-size: 2rem;
        display: block;
        text-align: center;
        background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
        border-radius: 50px;
        padding: 1rem;
        box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.25),
                    -3px -3px 6px 0 rgba(255, 255, 255, 0.3);
        transition: all 0.2s;
        line-height: 1;
        animation: straight 10s infinite;  
        & a:link,
        & a:visited{
            text-decoration: none;
            
            color: black;
        }

        & a:hover{
            transform: translateY(-3px);
        }
        & a:active{
            background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
            transform: translateY(3px);
        }
    }
}