@keyframes updown{
    0%{
        transform: translateX(0) translateY(0) rotateZ(-45deg);
    }
    70%{
        transform: translateX(-8px) translateY(-8px) rotateZ(-45deg);
    }
    100%{
        transform: translateX(0) translateY(0) rotateZ(-45deg);
    }
}

@keyframes settled{
    0%{
        transform: translateX(0) translateY(0) rotateZ(-45deg);
    }
    100%{
        transform: translateX(-120px) translateY(20px) rotateZ(0deg);
    }
}

@keyframes straight{
    0%{
        transform: translateX(0) translateY(0);
    }
    70%{
        transform: translateX(0) translateY(-3px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}

@keyframes cardOut{
    20%{
        transform: rotateZ(0) translateX(0) translateY(0) scale(1);
    }
    50%{
        transform: rotateZ(0) translateX(-8rem) translateY(-2rem) scale(1.3);
    }
    80%{
        transform: rotateZ(0) translateX(0.5rem) translateY(4rem) scale(1.3);
    }
    100%{
        transform: rotateZ(0) translateX(0) translateY(8rem) scale(1);
    }
}

@keyframes span-1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes span-2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
@keyframes span-3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes span-4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}


@keyframes toleft{
    0%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    60%{
        left: -300%;
    }
    80%{
        left: -400%;
    }
    100%{
        left: -500%;
    }
}

@keyframes upDown{
    0%{
        transform: inherit;
    }
    25%{
        transform: translateY(-1rem);
    }
    50%{
        transform: translateY(0rem);
    }
    75%{
        transform: translateY(1rem);
    }
    100%{
        transform: inherit;
    }
}