*,
*::after,
*::before{
    margin: 0;
    padding: 0; 
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

body{
    line-height:1.6;
    background-color: $color-body;
}

.gif{
    position: absolute;
    left: 50%;
    transform: translateX(-20%)!important;
    width: 20rem;
} 
