$color-body: rgb(247, 236, 236);
$color-primary: rgb(240, 235, 235);
$color-primary-dark: rgb(231, 223, 223);
$color-card-1: rgb(119, 226, 19);
$color-card-2: rgb(247, 46, 46);
$color-card-3: rgb(228, 224, 20); 
$color-card-1-dark: rgb(96, 158, 39);
$color-card-2-dark: rgb(190, 22, 22);
$color-card-3-dark: rgb(193, 196, 13);
 
$heading-primary: gray;
$heading-primary-dark: black;

$heading-secondary: red;
$heading-secondary-dark: blue;

$heading-teritary: maroon; 
$heading-teritary-dark: darkred;


$clip-text-color: #581845;
$clip-text-color-dark: #900C3F;

$card-1: gray;
$card-1-dark: #66ff00;
$card-2: #645394;
$card-2-dark: #ec9688;
$card-3: #f08080;
$card-3-dark: #008080;
$card-4: orange;
$card-4-dark: rgba(black,0.7);
$card-0: yellow;
$card-0-dark: rgba(black,0.7);

$btn-text-color: #581845;
