.container{
    display: grid;
    grid-template-rows: 18vh 82vh 50rem;
    grid-template-columns: minmax(3rem,1fr) repeat(8,14rem) minmax(3rem,1fr);
    background-image: linear-gradient(rgba($color-body,0.6),rgba($color-body,0.6)), url(./../Images/nav.jpg);

    grid-row-gap: 2rem; 
    //background-blend-mode: hue;
    //z-index: 1;
}  