.contact{
    text-align: center;
    grid-row: 6/7;
    grid-column: 1/-1; 
    background-image: linear-gradient(rgba(grey,0.6),rgba(grey,0.6)), url('./../Images/About.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    & img{
        width: 45rem;
        height: 45rem;
    }
    & p{
        color: white;
        font-size: 2.1rem;
        padding: 1rem 30rem;
    }
    & button{
        & a{
            padding: 1rem;
            font-size: 3rem;
            text-decoration: none;
            font-family: 'Pacifico', cursive;
            color: white;
        }
        &:hover{
            transform: translateY(-3px)!important;
        }
        &:active{
            transform: translateY(3px)!important;
            box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5) inset,
                    -3px -3px 6px 0 rgba(255, 255, 255, 0.6) inset;
        }
    }
}