.frontEndProjects{
    grid-row: 5/6;
    grid-column: 1/-1;
    -webkit-scrollbar-width: 0rem;
    position: relative;
    scrollbar-width: 0rem;
    background-image: linear-gradient(rgba(black,0.6),rgba(black,0.6)), url('./../Images/OAYTIV0.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    &__primary{
        background-image: linear-gradient(to bottom,white,cyan)!important;
        transition: all 1s ease-in;
        transition-delay: 0.6s;
        &[data-scroll='out'] {
            letter-spacing: 1rem;
            opacity: 0;
        }
        &[data-scroll='in']{
            letter-spacing: normal;
            opacity: 1;
        } 
    }
    &__card{
        display: flex;
        height: 100%;
        padding: 8rem 4rem;
        object-fit: cover;
        transition: all 0.8s ease-in;
        transition-delay: 0.4s;
        &__figure{
            &[data-scroll='out'] {
                transform: translateX(-100%);
                width: 200%;
                opacity: 0;
            }
            &[data-scroll='in']{
                transform: translateX(0%);
                width: auto;
                opacity: 1;
            } 
            flex: 0 0 70%;
            position: relative;
            transition: all 1s;
            transition-delay: 0.5s;
            & img{
                width: 100%;
            }
            & figcaption{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: center;
                padding: 1rem;
                font-size: 3rem;
                color: aliceblue;
                background-image: linear-gradient(to bottom, white,black);
                border-radius: 4px;
            }
        }
        &__description{
            flex: 1;
            align-self: center;
            color: whitesmoke;
            padding: 4rem 4rem;
            font-size: 2.4rem;
            transition: all 1s;
            transition-delay: 0.5s;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(to right,white 20%,cyan 100%);
            color: transparent;
            &[data-scroll='out'] {
                transform: scale(2) translateX(100%);
                opacity: 0;
            }
            &[data-scroll='in']{
                transform: scale(1) translateX(0%);
                opacity: 1;
            } 
            &__cta{
                & button{
                    & a{
                        padding: 1rem;
                        font-size: 3rem;
                        text-decoration: none;
                        font-family: 'Pacifico', cursive;
                        color: white;
                    }
                    &:hover{
                        transform: translateY(-3px)!important;
                    }
                    &:active{
                        transform: translateY(3px)!important;
                        box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5) inset,
                                -3px -3px 6px 0 rgba(255, 255, 255, 0.6) inset;
                    }
                }
                
            }
        }
    }
}