.popup{
    position: fixed;
    background-color: rgba(black,0.6);
    height: 100%;
    width: 100%;
    z-index: 100;
    backdrop-filter: brightness(60%) blur(2px);

    display: grid;

    grid-template-rows: minmax(3rem,1fr) repeat(8,6rem) minmax(3rem,1fr);
    grid-template-columns: minmax(3rem,1fr) repeat(8,12rem) minmax(3rem,1fr);

    transition: all 0.5s;

    transform: scale(0);
    opacity: 0;
    visibility: hidden;

    &:target{
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }

    &__span-1{
        position: absolute;
        box-shadow: 0 0 2rem hotpink;
        transition: 0.5s;
        top: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-image: linear-gradient(to right,transparent,crimson);
        border-radius: 100px;
        backface-visibility: hidden;
        overflow: hidden;
        animation: span-1 1.6s linear infinite;
    }
    &__span-2{
        position: absolute;
        box-shadow: 0 0 2rem hotpink;
        transition: 0.5s;
        top: 0;
        right: 0;
        height: 100%;
        width: 3px;
        background-image: linear-gradient(to bottom,transparent,crimson);
        border-radius: 100px;
        backface-visibility: hidden;
        overflow: hidden;
        animation: span-2 1.6s linear infinite;
        animation-delay: 0.8s;
    }
    &__span-3{
        position: absolute;
        box-shadow: 0 0 2rem hotpink;
        transition: 0.5s;
        right: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background-image: linear-gradient(to left,transparent,crimson);
        border-radius: 100px;
        backface-visibility: hidden;
        overflow: hidden;
        animation: span-3 1.6s linear infinite;
        //animation-delay: 1.6s;
    }
    &__span-4{
        position: absolute;
        box-shadow: 0 0 2rem hotpink;
        transition: 0.5s;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 3px;
        background-image: linear-gradient(to top,transparent,crimson);
        border-radius: 100px;
        backface-visibility: hidden;
        overflow: hidden;
        animation: span-4 1.6s linear infinite;
        animation-delay: 0.8s;
    }

    &__box{
        grid-row: 2/span 8;
        grid-column: 2/span 8;

        background-image: linear-gradient(to right,skyblue,hotpink);

        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: 1.2rem;
        text-align: center;
        color: white;
        border-radius: 20px;
    }

    &__close{
        grid-row: 1/2;
        grid-column: 1/-1;
        justify-self: end;
        align-self: start;
        font-size: 2rem;
        margin-right: 0.5rem;
    }
    &__title{
        grid-row: 1/2;
        grid-column: 1/-1;
        justify-self: center;
        align-self: center;
        font-size: 3.5rem;
        text-transform: uppercase;
        color: rosybrown;
    }
    &__content{
        position: relative;
        overflow: hidden;
        background-image: linear-gradient(to right,blue,red);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        &--1{
            grid-row: 2/3;
            grid-column: 1/2;
            //justify-self: center;
            align-self: start;
            margin: 0 4rem;
        }
        &--2{
            grid-row: 2/3;
            grid-column: 2/3;
            //justify-self: center;
            align-self: start;
            margin: 0 4rem;
        }
        &--3{
            grid-row: 2/3;
            grid-column: 3/4;
            //justify-self: center;
            align-self: start;
            margin: 0 4rem;
        }
        &__list{
            list-style: none;
            &__items{
                font-size: 2.3rem;
                line-height: 1.7;
                & .fab{
                    padding-right: 1rem;
                }
            }
        }
        &__icon{
            font-size: 8rem;
        }
        &__title{
            font-size: 3.2rem;
        }
    }
}