.unityProjects{
    grid-row: 4/5;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 8rem 1fr;
    position:relative;
    box-shadow: 0rem 0rem 4rem white;
    align-content:center;
    justify-content:center;
    padding: 1rem 1rem;
    overflow: hidden;
    &__left{
        display:inline-block;
        color:white;
        grid-column: 1/2;
        position: absolute;
        top:50%;
        z-index: 100;
        font-size: 4rem;
        left:0%;
        box-shadow:0rem 0rem 4rem white;
        background-color:rgba(gray,0.5);
        outline:none;
        border:none;
        transition:all 0.2s;
        &:hover{
            transform: scale(1.1); 
        }
        &:active{
            box-shadow:0rem 0rem 4rem white inset;
            outline:none;
        }
        
    }
    &__right{
        display:inline-block;
        color:white;
        position: absolute;
        grid-column: 1/2;
        top:50%;
        z-index: 100;
        font-size: 4rem;
        right:0%;
        box-shadow:0rem 0rem 4rem white;
        background-color:rgba(gray,0.5);
        outline:none;
        border:none;
        transition:all 0.2s;
        &:hover{
            transform: scale(1.1); 
        }
        &:active{
            box-shadow:0rem 0rem 4rem white inset;
            outline:none;
        }
    }
    
    &__card{
        grid-column: 1/2;
        grid-row:2/3;
        display: inline-block;
        height: auto;
        margin: 1rem 2rem;
        padding: 1rem 2rem;
        text-align: center;
        background-color: rgba(gray,0.5);
        transition: all 1s;
        width: 25%;
        //animation: upDown 1s linear infinite forwards;
        &--2{
            //grid-column:2/3;
            //grid-row:2/3;
            // width: 25%;
            transform-style: preserve-3d;
            box-shadow: 0rem 0rem 8rem white;
            transform: perspective(200rem) translateX(35vw) translateY(-2rem);
            background-color: rgba(gray,0.5);
        }
        &--0{
            // position: absolute;
            //grid-row:2/3;
            // width: 25%;
            transform-style: preserve-3d;
            box-shadow: 8rem 1rem 30rem white;
            perspective: 150rem;
            -moz-perspective: 150rem;
            transform: perspective(300rem) rotateY(-60deg) translateX(-34vw)  scaleX(0.6) scaleY(0.6);
            transform-origin: right;
            background-color: rgba(whitesmoke,0.9);
        }
        &--1{
            //grid-column:1/2;
            //grid-row:2/3;
            // width: 33.33%;
            transform-style: preserve-3d;
            box-shadow: 8rem 1rem 30rem white;
            perspective: 150rem;
            -moz-perspective: 150rem;
            transform: perspective(200rem) rotateY(-40deg) translateX(5vw)  scaleX(0.8) scaleY(0.8);
            transform-origin: right;
            background-color: rgba(whitesmoke,0.9);
        }
        &--3{
            //grid-column:1/2;
           //grid-row:2/3;
            // width: 33.33%;
            transform-style: preserve-3d;
            box-shadow: -8rem -1rem 30rem white;
            perspective: 150rem;
            -moz-perspective: 150rem;
            transform: perspective(200rem) rotateY(40deg) translateX(90vw)  scaleX(0.8) scaleY(0.8);
            transform-origin: right;
            background-color: rgba(whitesmoke,0.9);
        }
        &--4{
            // position: absolute;
            //grid-row:2/3;
            // width: 25%;
            transform-style: preserve-3d;
            box-shadow: -8rem -1rem 30rem white;
            perspective: 150rem;
            -moz-perspective: 150rem;
            transform: perspective(400rem) rotateY(60deg) translateX(200vw)  scaleX(0.6) scaleY(0.6);
            transform-origin: right;
            background-color: rgba(whitesmoke,0.9);
        }
        &---1{
            //  position: absolute;
            // width: 25%;
            transform: translateX(-100vw) scaleX(0.2) scaleY(0.2);
             transform-style: preserve-3d;
             transform-origin: left;
        }
        &--5{
            // position: absolute;
            // width: 25%;
            transform: translateX(100vw) scaleX(0.2) scaleY(0.2);
            transform-style: preserve-3d;
            transform-origin: right;
        }
        &---2{
            display: none;
        }
        &--6{
            display: none;
        }
    }
    &__image{
        width: 100%;
        box-shadow: 0rem 0rem 4rem black;
        transform-style: preserve-3d;
    }
    &__description{
        font-size: 2rem;
        box-shadow: 0rem 0rem 4rem black;
        transform-style: preserve-3d;
        //padding: 1rem 1.5rem;
    }
    &__heading{
        box-shadow: 0rem 0rem 4rem black;
    }
    border-bottom: 3px solid grey;
}